<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index Page</title>
    <style>
      table, thead, tbody, td, th{
        border-collapse: collapse;
        padding: 3%;
        border: 1px solid #000;
      }
    </style>
  </head>
  <body>
    <h1>Comparison Tool</h1>

    <h5><a href="/createproduct">Add a product</a> | 
    <a href="/createstore">Add a store</a></h5>
    <br>
    <table>
      <thead>
        <th>PRODUCT NAME</th>
        <th>STORE NAME</th>
        <th>PRICE</th>
        <th>ACTION</th>
      </thead>
      <tbody>
        <% products.forEach((product)=>{ %>

          <tr>
            <td><%= product.name %></td>
            <td><%= product.store_name %></td>
            <td><%= product.price %></td>
            <td><a href="">Add to comparision </a></td>
          </tr>


        <% }) %>



      </tbody>
    </table>

  </body>
</html>
